// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
body {
//   background-color: #a3ffc0;
background: linear-gradient(270deg, #00ffea, #0072ff, #00ff77, #0072ff);
background-size: 400% 400%;
animation: gradientAnimation 15s ease infinite;

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
}

.site-title {
    font-weight: bold;
}

li .post-meta {
    color: #000;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}

li .post-link {
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.post-link:visited {
    color: #000000; // Example color for visited links
}

.post-link:hover {
    animation: bounce 0.3s ease-in-out;

    @keyframes bounce {
        0%, 100% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.2);
        }
    }
}
.video-iframe {
    width: 100%; // Adjust the value as needed
    height: 56.25vw; // 16:9 aspect ratio 
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000; // Ensure it stays on top of other content
}

.wrapper {
    max-width: 100%; // Adjust the value as needed
}
