---
layout: base
---


<div class="accordion" id="seasonAccordion">
  {% assign seasons = site.posts | group_by: "season" %}
  {% for season in seasons %}
    {% assign season_id = season.name | slugify %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading-{{ season_id }}">
        <button class="accordion-button collapsed" type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-{{ season_id }}"
          aria-expanded="false"
          aria-controls="collapse-{{ season_id }}">
          {{ season.name }}
        </button>
      </h2>
      <div id="collapse-{{ season_id }}" class="accordion-collapse collapse"
        aria-labelledby="heading-{{ season_id }}"
        data-bs-parent="#seasonAccordion">
        <div class="accordion-body">
          <ul class="post-list">
            {% assign episodes = season.items | sort: "episode_sort" | reverse %}
            {% for episode in episodes %}
              <li class="list-group-item">
                <span class="post-meta">{{ episode.date | date: "%b %-d, %Y" }}</span>
                <h3>
                  <a href="{{ episode.url | relative_url }}" class="post-link">{{ episode.title }}</a>
                </h3>
                {% if site.show_excerpts %}
                  {{ episode.excerpt }}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<!-- <p id='current-date'></p>
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div> -->